.card{
    position: relative;
    background-color: white;
    border-radius: 1em;
    padding: 1em 1.5em;
    margin: 1em 0em;
}
.quizCard{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
    border-radius: 1em;
    padding: 1em 1.5em;
    margin: 1em;
}

.quizImg{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0,-15%);
    height: 20em;
    width: 20em;
}

.btn{
    margin: 1em 0em;
    font-family: 'Poppins-Bold';
    padding: 1em;
    border: none;
    border-radius: 0.5em;
    color: black;
}

.btn:hover{
    cursor: pointer;
    opacity: 0.7;
}